node-linker = hoisted
auto-install-peers = false
# enable next line if your connection is blocked by Great Firewall in People's Republic of China
# ELECTRON_MIRROR = https://npmmirror.com/mirrors/electron/